<ion-view title="Change your password" id="page17">
  <ion-content padding="true" class="has-header">
    <h3 id="changeYourPassword-heading17" style="color:#00B38A;">Password</h3>
    <form id="changeYourPassword-form10" class="list">
      <label class="item item-input" id="changeYourPassword-input17">
        <input type="password" placeholder="Enter password">
      </label>
    </form>
    <h3 id="changeYourPassword-heading18" style="color:#00B38A;">New Password</h3>
    <form id="changeYourPassword-form11" class="list">
      <label class="item item-input" id="changeYourPassword-input18">
        <input type="password" placeholder="Enter new password">
      </label>
    </form>
    <h3 id="changeYourPassword-heading19" style="color:#00B38A;">Confirm Password</h3>
    <form id="changeYourPassword-form12" class="list">
      <label class="item item-input" id="changeYourPassword-input19">
        <input type="password" placeholder="Confirm new password">
      </label>
      <a ui-sref="tabsController.myAccount()" id="changeYourPassword-button22" style="font-weight:600;color:#FFFFFF;" class="button button-balanced button-block icon-left ion-android-checkbox-outline">Update</a>
    </form>
  </ion-content>
</ion-view>