<ion-view title="Change profile picture" id="page18">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/J8aC32McQO66GDQwqsbJ_john_smith.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <button id="changeProfilePicture-button23" style="font-weight:500;" class="button button-balanced button-block icon-left ion-android-upload">Upload profile picture</button>
    <button id="changeProfilePicture-button25" style="font-weight:500;" class="button button-balanced button-block icon-left ion-ios-trash">Delete profile picture</button>
    <a ui-sref="tabsController.myAccount()" id="changeProfilePicture-button24" style="font-weight:600;" class="button button-balanced button-block icon-left ion-android-checkbox-outline">Update</a>
  </ion-content>
</ion-view>