<ion-view title="Edit Account" id="page14">
  <ion-content padding="true" class="has-header">
    <h2 id="editAccount-heading12" style="color:#00B38A;text-align:center;">Edit your details</h2>
    <h5 id="editAccount-heading13" style="color:#747474;text-align:center;">Edit/Update your account details below</h5>
    <div class="spacer" style="height: 25px;"></div>
    <a ui-sref="tabsController.changeProfilePicture()" id="editAccount-button18" style="font-weight:600;" class="button button-balanced button-block icon-left ion-android-contact">Change profile picture</a>
    <a ui-sref="tabsController.updateYourEmail()" id="editAccount-button13" style="font-weight:600;" class="button button-balanced button-block icon-left ion-email">Update email</a>
    <a ui-sref="tabsController.changeYourPassword()" id="editAccount-button16" style="font-weight:600;" class="button button-balanced button-block icon-left ion-android-lock">Change password</a>
  </ion-content>
</ion-view>