<ion-view title="Explore" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="explore-form2" class="list">
      <h2 id="explore-heading2" style="color:#00B38A;text-align:center;">Explore Tours</h2>
      <div id="explore-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#747474;">Take a tour of hundreds of worldwide attractions instantly from your phone!</p>
      </div>
      <label class="item item-input" id="explore-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Find a tour">
      </label>
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="explore-list-item11" ui-sref="tabsController.theLouvre()">
        <img src="img/sSVRoRRfQDuH3mW9nwaH_london.jpg">
        <h2balanced>Tower of London
          <p>Explore the Tower of London !</p>
          <i class="icon ion-eye"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="explore-list-item5" ui-sref="tabsController.theLouvre()">
        <img src="img/91LMoqUS1G44XYyyGGNR_taj.jpg">
        <h2balanced>Taj Mahal - Agra
          <p>Explore the Taj Mahal !</p>
          <i class="icon ion-eye"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="explore-list-item10" ui-sref="tabsController.theLouvre()">
        <img src="img/Y0M589mfRPIBPLnYdQnF_caso.jpg">
        <h2balanced>Casa Batlló - Barcelona
          <p>Explore Casa Batlló</p>
          <i class="icon ion-eye"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="explore-list-item13" ui-sref="tabsController.theLouvre()">
        <img src="img/LnxmeM5cSyO2SPVySlGr_collo.jpg">
        <h2balanced>Colosseum - Rome
          <p>Explore the Colosseum !</p>
          <i class="icon ion-eye"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="explore-list-item6" ui-sref="tabsController.theLouvre()">
        <img src="img/L8ReG5gQlBYCsUX1wTrw_vatican_3.jpg">
        <h2balanced>Vatican City
          <p>Explore Vatican City !</p>
          <i class="icon ion-eye"></i>
        </h2balanced>
      </ion-item>
    </form>
  </ion-content>
</ion-view>