<ion-view title="My Tours" id="page9">
  <ion-content padding="true" class="has-header">
    <h2 id="myTours-heading6" style="color:#00B38A;text-align:center;">Your Tours</h2>
    <div id="myTours-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#747474;">A Library of your tours you've encountered or favourited</p>
    </div>
    <ion-list id="myTours-list8">
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="myTours-list-item8" ui-sref="tabsController.theLouvre()">
        <img src="img/ALLvtWHOQNyzvOW5WuZY_vatican_3.jpg">
        <h2balanced>Vatican City - Italy
          <p>Toured - 16/01/2018</p>
          <i class="icon ion-eye"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="myTours-list-item9" ui-sref="tabsController.theLouvre()">
        <img src="img/eHtVFNmcSwMNq0wC8bGp_taj.jpg">
        <h2balanced>Taj Mahal - Agra
          <p>Toured - 20/01/2018</p>
          <i class="icon ion-eye"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="myTours-list-item12" ui-sref="tabsController.theLouvre()">
        <img src="img/jv8eIl3RT9ar9Qn1Vmkd_caso.jpg">
        <h2balanced>Casa Batlló - Barcelona
          <p>Toured - 18/01/2018</p>
          <i class="icon ion-eye"></i>
        </h2balanced>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>