<ion-view title="Signup" hide-nav-bar="true" id="page11" style="background-color:#00B38A;" class="border">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/PF6OytPbSXS5TmUbPaGw_tourasite_main.jpg" style="display: block; width: 65%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="signup-form3" class="list">
      <ion-list id="signup-list7">
        <label class="item item-input signup" id="signup-input3">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Enter name">
        </label>
        <label class="item item-input" id="signup-input4">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Enter email">
        </label>
        <label class="item item-input" id="signup-input5">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Enter password">
        </label>
      </ion-list>
      <a ui-sref="tabsController.tourasite2()" id="signup-button4" style="font-weight:600;color:#FFFFFF;" class="button button-light button-block button-outline">Sign up</a>
      <a ui-sref="login()" id="signup-button14" style="color:#FFFFFF;" class="button button-light button-block button-clear icon-left ion-android-arrow-dropleft">Back to Sign in</a>
    </form>
  </ion-content>
</ion-view>