<ion-view title="Terms &amp; Conditions" id="page12">
  <ion-content padding="true" class="has-header">
    <h2 id="termsConditions-heading8" style="color:#747474;text-align:center;">Tourasite T&amp;C</h2>
    <div id="termsConditions-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#747474;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel neque id risus cursus consectetur. Integer malesuada, risus id luctus faucibus, tortor tortor auctor metus, vehicula pharetra ante lectus sit amet elit. Integer malesuada tortor
        at neque maximus, ut ornare orci fermentum. Aliquam ultrices lacus et urna rhoncus placerat. Donec sit amet orci est. Cras urna nisl, ultrices eget luctus sit amet, posuere nec ex. Aliquam erat volutpat. Suspendisse dictum sed magna ac euismod.</p>

      <p style="color:#747474;">Ut quis tincidunt metus. Mauris pretium, massa in vulputate tincidunt, diam dolor sodales mauris, vel bibendum arcu turpis et risus. Nullam in varius risus. Aenean ultrices sit amet erat ut egestas. Aliquam lobortis ipsum id purus congue, in convallis
        ipsum dictum. In vehicula luctus elit, non commodo augue molestie pretium. Nullam congue eros vitae mollis vestibulum. Donec et lectus vel metus imperdiet dapibus eu tempus ex. Integer ac mollis dui. Etiam interdum, massa in varius pretium, orci
        urna consectetur diam, id tempor lectus ipsum in mi. Sed eget ligula sed nibh tincidunt vehicula. Cras vulputate congue accumsan. Morbi eget malesuada mauris. Donec et nulla id nisi suscipit semper non in leo. Suspendisse sed porttitor dui. Nulla
        et efficitur neque.</p>
    </div>
  </ion-content>
</ion-view>