<ion-view title="The Louvre" id="page13">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="theLouvre-slider1" style="width:calc(100% + 20px);height:200px;margin-left:-10px;">
      <ion-slide-page id="theLouvre-slide24" style="background:url(&quot;img/olyUW212T1n1bZEkAPpg_louvre.jpg&quot;) no-repeat center;background-size:cover;background-color:#00B38A;"></ion-slide-page>
      <ion-slide-page id="theLouvre-slide21" style="background:url(&quot;img/YwHVjzG5T0KPgavoeTYW_louvre_2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="theLouvre-slide26" style="background:url(&quot;img/8DRcpu4pTsm9WIlymyvW_louvre_3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <h2 id="theLouvre-heading5" style="color:#00B38A;">The Louvre</h2>
    <div id="theLouvre-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#747474;">The Louvre, or the Louvre Museum (French: Musée du Louvre), is the world's largest art museum and a historic monument in Paris, France. A central landmark of the city, it is located on the Right Bank of the Seine in the city's 1st arrondissement
        (district or ward). Approximately 38,000 objects from prehistory to the 21st century are exhibited over an area of 72,735 square metres (782,910 square feet). In 2016, the Louvre was the world's most visited art museum, receiving 7.3 million visitors.</p>

      <p style="color:#747474;">The museum is housed in the Louvre Palace, originally built as a fortress in the late 12th to 13th century under Philip II. Remnants of the fortress are visible in the basement of the museum. Due to the urban expansion of the city, the fortress
        eventually lost its defensive function and, in 1546, was converted by Francis I into the main residence of the French Kings. The building was extended many times to form the present Louvre Palace. In 1682, Louis XIV chose the Palace of Versailles
        for his household, leaving the Louvre primarily as a place to display the royal collection, including, from 1692, a collection of ancient Greek and Roman sculpture. In 1692, the building was occupied by the Académie des Inscriptions et Belles
        Lettres and the Académie Royale de Peinture et de Sculpture, which in 1699 held the first of a series of salons. The Académie remained at the Louvre for 100 years. During the French Revolution, the National Assembly decreed that the Louvre should
        be used as a museum to display the nation's masterpieces.</p>
    </div>
  </ion-content>
</ion-view>