<ion-view title="Tourasite" id="page6" class="border">
  <ion-content padding="true" style="background: url(img/ZXlZSFoZQBqIJPPihWZr_tour_map_test.jpg) no-repeat center;background-size:cover;" class="manual-remove-top-padding has-header">
    <div class="spacer" style="height: 350px;"></div>
    <a ui-sref="tabsController.theLouvre()" id="tourasite2-button3" style="color:#FFFFFF;border-radius:20px 20px 20px 20px;" class="button button-balanced button-block icon-right ion-eye">Tour Now!</a>
  </ion-content>
</ion-view>