<ion-view title="Update your email" id="page16">
  <ion-content padding="true" class="has-header">
    <h3 id="updateYourEmail-heading14" style="color:#00B38A;">Email</h3>
    <form id="updateYourEmail-form8" class="list">
      <label class="item item-input" id="updateYourEmail-input15">
        <input type="email" placeholder="Enter email">
      </label>
    </form>
    <h3 id="updateYourEmail-heading15" style="color:#00B38A;">New Email</h3>
    <form id="updateYourEmail-form9" class="list">
      <label class="item item-input" id="updateYourEmail-input16">
        <input type="email" placeholder="Enter new email">
      </label>
    </form>
    <h3 id="updateYourEmail-heading16" style="color:#00B38A;">Confirm Email</h3>
    <form id="updateYourEmail-form7" class="list">
      <label class="item item-input" id="updateYourEmail-input14">
        <input type="email" placeholder="Confirm new email">
      </label>
      <a ui-sref="tabsController.myAccount()" id="updateYourEmail-button21" style="font-weight:600;color:#FFFFFF;" class="button button-balanced button-block icon-left ion-android-checkbox-outline">Update</a>
    </form>
  </ion-content>
</ion-view>